extends layout

block content
  |<div id="container"/>
  |<div id="slider"/>
  //- inject:js
  |<script type="text/jsx" src="js/App.jsx"/>
  |<script type="text/jsx" src="js/Data.jsx"/>
  |<script type="text/jsx" src="js/Table.jsx"/>
  //- endinject
