doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')

        script(src="http://fb.me/react-0.12.2.js")
        script(src="http://fb.me/JSXTransformer-0.12.2.js")
        script(src="http://code.jquery.com/jquery-1.10.0.min.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js")

        //Compiled and minified CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css")

        //Compiled and minified JavaScript
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js")
    body
      block content
